main {
  background-color: #ffffff;
  width: 970px;
  padding: 60px;
  border-radius: 20px;
  border: none;
}

.input-radio {
  margin-bottom: 16px;
}

.input-radio label {
  margin-right: 16px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

.dados h2 {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  font-weight: 500;
}

.dados {
  margin-top: 32px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

select {
  font-size: 15px;
  font-weight: 500;
  color: #666666;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-container p {
  cursor: pointer;
  height: 30px;
  align-self: flex-end;
}

.link-container p:hover {
  color: #57b846;
}
